{% extends 'admin/base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="card card card-outline card-success">
                        <div class="card-header">
                            <h3 class="card-title">Commmande a livrer</h3>
                        </div>
                        <div class="card-body">
                            <select name="" id="" class="form-control form-control-sm">
                                <option value="">test</option>
                                <option value="">test 2</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card card card-outline card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Livraison en cour</h3>
                        </div>
                        <div class="card-body">
                            <select name="" id="" class="form-control form-control-sm">
                                <option value="">test</option>
                                <option value="">test 2</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}