{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">Etat des commandes a traiter</h3>
                        </div>
                        <div class="card-body">
                            <!--search-->
                            <div class="mt-3">
                                <form class="form-inline">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control" type="search" placeholder="Recherche produit" aria-label="Search">
                                    </div>
                                    <div class="ml-2">
                                        <button class="btn btn-info btn-sm" type="submit">
                                            Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!--end search-->
                            <!--Table -->
                            <div class="mt-3 table-commande">
                                <table id="tableCommande" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Reference</th>
                                        <th>Client</th>
                                        <th>Date de traitement</th>
                                        <th>Status</th>
                                        <th>Paiement</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--end table-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
